<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Trainer</title>
    <link rel="stylesheet" th:href="@{/css/dropzone.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <script th:src="@{/js/dropzone.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>

<body style="overflow: hidden">

<div th:insert="fragments/header"></div>

<div class="container-fluid">

    <div class="row justify-content-center align-items-center" style="margin-top: 30px;">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

            <div th:if="${success}">
                <div class="alert alert-primary" th:text="${message}"></div>
            </div>

            <div th:if="${success != null and !success}">
                <div class="alert alert-danger" th:text="${message}"></div>
            </div>

            <form action="/trainer/add/" enctype="multipart/form-data" th:method="POST">

                <div class="row align-items-center">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <label class="form-label" for="uploadForm">Choose ZIP-archive, plaintext or PDF to
                            upload</label>
                        <input class="form-control" id="uploadForm" th:name="file" th:type="file">
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <label class="form-label" for="batchName"><br/>Batchname</label>
                        <input class="form-control" id="batchName"
                               th:value="${uuid}"
                               th:name="batchName" th:type="text">
                    </div>
                </div>

                <div class="row align-items-center" style="margin-top: 20px">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Upload"/>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <span></span>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<div th:insert="fragments/footer"></div>
</body>
</html>