<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Testing</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
</head>

<body>

<form action="#" th:action="@{guiProcess}" th:object="${guiProcess}"
      method="post">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Text</th>
            <th>Result</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td width="50%">
					<textarea autofocus="autofocus" cols="100%"
                              rows="30" th:field="${guiProcess.inputText}" placeholder="Text to process"></textarea></td>
            <td width="50%" align="center">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Topic</th>
                        <th>Sender</th>
                        <th>Metadata</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="result : ${guiProcess.result}">
                        <td width="30%"><span th:text="${result.topicName}">Topic</span></td>
                        <td width="30%"><span th:text="${result.sender}">Sender</span></td>
                        <td width="70%">

                            <table>
                                <thead class="thead-dark">
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="metaData : ${result.metaData}">
                                    <td width="50%"><span th:text="${metaData.name}">Name</span></td>
                                    <td width="50%"><span th:text="${metaData.value}">Value</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td><input type="submit"/></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>