<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>

<div th:insert="fragments/header"></div>

<table class="table table-striped" width="100%">
    <thead class="thead-dark">
    <tr>
        <th width="75%">API Key assosiate</th>
        <th width="25%">Revoke</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="result : ${adminProcess.apiUsers}">
        <td width="75%"><span th:text="${result}"></span></td>
        <td width="25%"><a th:href="@{/admin/revoke(id=${result})}">Revoke</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>