<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Testing</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>

<body style="overflow: hidden">

<div th:insert="fragments/header"></div>

<form action="#" th:action="@{guiProcess}" th:object="${guiProcess}"
      method="post">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Text</th>
            <th>Result</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td width="50%">
                <label>
                    <textarea autofocus="autofocus" class="form-control input-lg" cols="100%"
                              placeholder="Text to process"
                              rows="30" th:field="${guiProcess.inputText}"></textarea>
                </label>
            </td>
            <td width="50%" align="center">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Topic</th>
                        <th>Sender</th>
                        <th>Metadata</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="result : ${guiProcess.result}">
                        <td style="width: 20%;"><span th:text="${result.topic}">Topic</span></td>
                        <td style="width: 20%;"><span th:text="${result.sender}">Sender</span></td>
                        <td style="width: 60%;">

                            <table>
                                <thead class="thead-dark">
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                </tr>
                                </thead>
                                <tbody>

                                <!--/*@thymesVar id="metadata" type="com.cuupa.classificator.domain.Metadata"*/-->
                                <tr th:each="metadata : ${result.metadata}">
                                    <td width="50%">
                                        <span th:text="${metadata.name}">Name</span></td>
                                    <td width="50%"><span th:text="${metadata.value}">Value</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td><input type="submit" class="btn btn-lg btn-primary btn-block" value="Process"/></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>